body {
  margin: 0;
  padding: 0;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 245px;
  height: 493px;
  background: url(/game-sprite-actions-walking-vector.jpg);
  animation: animate 1s steps(6) infinite;
}

@keyframes animate {
  from {
    background-position: 0;
  }
  to {
    background-position: 1473px;
  }
}
